@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");

.roboto {
  font-family: "Roboto Condensed", sans-serif;
}

.slide-pane__header {
  background: rgb(31 41 55) !important;
  color: white;
}
