@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");

.roboto {
  font-family: "Roboto Condensed", sans-serif;
}

* {
  color: white;
}

.slide-pane__header {
  background: #101014 !important;
  color: white;
}

.slide-pane__content {
  padding: 0 !important;
}
